<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A simple Django blog</title>
  </head>
  <body>
    <div>
      <h1>Django blog</h1>
      <p>
        This is a simple blog designed in Django 3 and Python 3.8. The blog code
        can be viewed/forked from
        <a href="https://github.com/hunterhines34/djangoblog">this</a>
        repository.
      </p>
    </div>
    {% for post in posts %}
    <div>
      <p>Published: {{ post.published_date }}</p>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
  </body>
</html>
