<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A simple Django blog</title>
  </head>
  <body>
    <div>
      <h1>Django blog</h1>
      <p>
        This is a simple blog designed in Django 3 and Python 3.8. The blog code
        can be viewed/forked from
        <a href="https://github.com/hunterhines34/djangoblog">this</a>
        repository.
      </p>
    </div>
    <div>
      <h2>Testing Post #1</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula,
        nibh ut congue aliquam, sem lacus pulvinar felis, at pharetra eros nisi
        tristique risus. Nullam scelerisque metus felis, non dapibus enim
        pellentesque eget. Integer a dapibus nibh, sit amet sollicitudin mauris.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Cras at tempus mauris. Integer sit amet mi ligula.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Ut ut erat a arcu tincidunt laoreet a vitae nisi.
        Proin vitae leo eget nibh auctor aliquet. Sed molestie efficitur
        aliquet.
      </p>
      <p>Published by Admin on July 20, 2020 at 7:15 PM</p>
    </div>
    <div>
      <h2>Testing Post #2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula,
        nibh ut congue aliquam, sem lacus pulvinar felis, at pharetra eros nisi
        tristique risus. Nullam scelerisque metus felis, non dapibus enim
        pellentesque eget. Integer a dapibus nibh, sit amet sollicitudin mauris.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Cras at tempus mauris. Integer sit amet mi ligula.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Ut ut erat a arcu tincidunt laoreet a vitae nisi.
        Proin vitae leo eget nibh auctor aliquet. Sed molestie efficitur
        aliquet.
      </p>
      <p>Published by Hunter on July 20, 2020 at 7:15 PM</p>
    </div>
  </body>
</html>
